[submodule "emotion-recognition"]
	path = emotion-recognition
	url = https://github.com/Cabemo/emotion-classifier.git
[submodule "emotionfy"]
	path = emotionfy
	url = git@github.com:robtry/emotionfy.git
[submodule "emotionfy-api"]
	path = emotionfy-api
	url = git@github.com:Cabemo/emotionfy-api.git
