[submodule "emotionfy"]
	path = emotionfy
	url = git@github.com:robtry/emotionfy.git
[submodule "api"]
	path = api
	url = git@github.com:Cabemo/emotionfy-api.git
[submodule "pyapi"]
	path = pyapi
	url = https://github.com/Cabemo/emotion-classifier.git
